<!DOCTYPE html>
<html>
<head>
    <title>Mongoose Demo</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongoose Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#user}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi <b>{{user}}</b> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">My Profile</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                    {{/user}}
                    {{^user}}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    {{/user}}

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
